<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.0.0" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="FodyHelpers" version="6.0.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="xamarinios10" />
  <package id="Nito.AsyncEx.Context" version="5.0.0" targetFramework="xamarinios10" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="xamarinios10" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Realm" version="4.2.0" targetFramework="xamarinios10" />
  <package id="Realm.Fody" version="4.2.0" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.13" targetFramework="xamarinios10" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="xamarinios10" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Management" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="xamarinios10" />
</packages>